[project]
name = "pyai2"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "requests>=2.32.5",
    "torch>=2.9.0",
    "torchvision>=0.24.0",
]
